body{
    background-image:linear-gradient(45deg,rgb(119, 0, 255),rgb(255, 0, 234));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div{
    background-image:linear-gradient(45deg,rgb(82, 82, 82),black);
    position: absolute;/*encaixa a div na posição */
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:15px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
}

input{
    padding:15px;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 15px;
}

button{
    
    background-color:rgb(61, 61, 61);
    width: 100%;
    padding: 5px; 
    color: white;
    font-size: 15px;
    border-radius: 15px;

}

button:hover{
    background-image:linear-gradient(45deg,rgb(76, 0, 255),black);
    cursor: pointer;
}
